@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://th.bing.com/th/id/OIP.XxT6s5UEhLRvV1TnF29kugHaHa?rs=1&pid=ImgDetMain'); 
  background-size: 570px; 
  background-repeat: no-repeat;
  background-position: right top;
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  padding-left: 145px; 
  
  
}


